.highlight .keyword-passed {
    color: green;
    font-weight: bold;
}

/* .sidebar-logo-container::after {
  content: "Logo by Jonathan Lin \a https://jlin1212.github.io/";
  font-size: 8pt;
  color: #222;
  display: block;
  text-align: right;
  transition: 0.4s;
  white-space: pre;
  opacity: 0;
}

.sidebar-logo-container:hover::after {
  opacity: 1;
}
 */

.sidebar-logo-container a {
  font-size: 8pt;
  color: #222;
  display: block;
  text-align: right;
  opacity: 0;
  transition: opacity 0.4s;
  white-space: pre;
}

.sidebar-logo-container:hover a {
  opacity: 1;
}
