# create a file called sys.cmake.ext that contains lines like the following to modify the KOKKOS build setting

set(Kokkos_ENABLE_CUDA On)
set(Kokkos_ENABLE_CUDA_LAMBDA On)
set(Kokkos_ARCH_VOLTA70 On)
